a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  padding: 0 50px;
  grid-area: c;
}
