.tic-tac-toe {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
}

.cell-field {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #d1daea;
  line-height: 0;
}

.cell-field span {
  color: #71cbcb;
  margin: 45px;
  font-size: 45px;
  font-family: cursive;
}

.cell-field span.winner {
  color: coral;
}